*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
}
.navbar{
    background-color: #ececec !important;
    
}
.navbar ul li{
   font-size: 12px;
   padding: 0 17px;
}
.search-bar{
    background-color:#f5f5f5 ;
    padding: 13px 19px;
    border: none;
    outline: none;
    width: 50%;
    margin-left:10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.search-container button{
    border: none;
    color: #fff;
    background-color: #f57224;
    margin-left: -2px;

}
.baner{
    border-radius: 10%;
    
}
.top-baner{
    background-color: #f7f7f7;
}
.card-title{
    margin-top: 4px;
}
.card-price{
    color: #f57224;
    font-weight: 700;
    font-size: 18px;
}
.btn-load{
    width: 350px;
    height: 40px;
    font-weight: bold;
}
.btn-load:hover{
    background-color:lightgray;
}
.card-product:hover{
    background-color:lightgray;
}
.scaner{
    width: 200px;
    height: auto;
    border-radius: 25px;
}
.add-footer{
    background-color: #032b5c;
    color: white;
}
.logo-d{
    border-radius:10px;
    
}
.account-img{
    max-width: 35px;
    margin: 5px;
}
.country-logo{
    max-width: 35px;
    margin: 5px;
}

